@tailwind base;
@tailwind components;
@tailwind utilities;

.card-writing-mode-vertical{
    writing-mode: vertical-rl;
}
.card-poem{
    writing-mode: vertical-rl;
}

.bg-img-center-cover{
    @apply bg-cover bg-no-repeat bg-center
}

.blur-card::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 0.8;
    background-color: #3F5D45;
}

.blur-card::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    z-index: 10;
    background-image: inherit;
    @apply bg-cover bg-no-repeat bg-center
}

.card-selected{
    color: #3F5D45;
}

.card-selected::before{
    background-color: #FFE180;
}
.gray-short-bg{
    position: relative;
    z-index: 1;
}
.selecd-page{
    color: white;
    background-color: #3F5D45;
}

.gray-short-bg::before{
    position: absolute;
    content:  " ";
    bottom: 9%;
    left: 0;
    background: #EAF0ED;
    width: 100%;
    height: 82%;
    z-index: -1;
}
.card-product{
    position: relative;
}
.today-osusume::before{
    position: absolute;
    top: 0;
    left: 20px;
    height: 106.73px;
    width: 36px;
    z-index: 20;
    background: #3F5D45;
    color:#EAF0ED;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    content: "本日精選";
    writing-mode: vertical-lr;
}


@media (max-width: 768px) {
    .rwd-show{
        display: block;
    }
    .md-burger-nav-ul{
        width: 80%;
        color: #EAF0ED;
        margin: 0;
        position: absolute;
        flex-direction: column;
        left: 0px;
        bottom: 100px;
        gap: 8px;
        z-index: 5;
        transform: scale(0);
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }
    .md-burger-nav-ul-show{
        bottom:-160px;
        transform: scale(1);
    }

    .md-header-list{
        padding-left: 16px;
        background-color: #3F5D45;
        font-size: 32px;
        width: 100%;
    }
    .gray-short-bg::before{
        bottom: 0;
        background: #EAF0ED;
    }
    .card-poem{
        writing-mode: horizontal-tb;
    }
}
