@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    .rwd-show{
        display: block;
    }
    .md-burger-nav-ul{
        width: 80%;
        color: #EAF0ED;
        margin: 0;
        position: absolute;
        flex-direction: column;
        left: 0px;
        bottom: 100px;
        gap: 8px;
        z-index: 5;
        transform: scale(0);
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }
    .md-burger-nav-ul-show{
        bottom:-160px;
        transform: scale(1);
    }

    .md-header-list{
        padding-left: 16px;
        background-color: #3F5D45;
        font-size: 32px;
        width: 100%;
    }
}
