*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.visible {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.bottom-\[16px\] {
  bottom: 16px;
}

.bottom-\[50px\] {
  bottom: 50px;
}

.left-0 {
  left: 0px;
}

.left-\[50px\] {
  left: 50px;
}

.right-0 {
  right: 0px;
}

.right-\[20px\] {
  right: 20px;
}

.right-\[22px\] {
  right: 22px;
}

.top-0 {
  top: 0px;
}

.top-\[22px\] {
  top: 22px;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.m-0 {
  margin: 0px;
}

.m-\[40px\] {
  margin: 40px;
}

.m-\[60px\] {
  margin: 60px;
}

.mx-\[-1px\] {
  margin-left: -1px;
  margin-right: -1px;
}

.mx-\[30px\] {
  margin-left: 30px;
  margin-right: 30px;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-\[16px\] {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-\[8\.5px\] {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}

.my-\[80px\] {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-\[8px\] {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mb-\[13px\] {
  margin-bottom: 13px;
}

.mb-\[16px\] {
  margin-bottom: 16px;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[25px\] {
  margin-bottom: 25px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mb-\[51\.34px\] {
  margin-bottom: 51.34px;
}

.mb-\[60px\] {
  margin-bottom: 60px;
}

.mb-\[8px\] {
  margin-bottom: 8px;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.ml-auto {
  margin-left: auto;
}

.mr-\[79px\] {
  margin-right: 79px;
}

.mt-\[-89px\] {
  margin-top: -89px;
}

.mt-\[16px\] {
  margin-top: 16px;
}

.mt-\[32\.2px\] {
  margin-top: 32.2px;
}

.mt-\[8px\] {
  margin-top: 8px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.h-1 {
  height: 0.25rem;
}

.h-16 {
  height: 4rem;
}

.h-4 {
  height: 1rem;
}

.h-4\/5 {
  height: 80%;
}

.h-9 {
  height: 2.25rem;
}

.h-\[110px\] {
  height: 110px;
}

.h-\[116px\] {
  height: 116px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[16px\] {
  height: 16px;
}

.h-\[20\.28px\] {
  height: 20.28px;
}

.h-\[20\.37px\] {
  height: 20.37px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[218\.69px\] {
  height: 218.69px;
}

.h-\[256px\] {
  height: 256px;
}

.h-\[26\.6px\] {
  height: 26.6px;
}

.h-\[280px\] {
  height: 280px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[307px\] {
  height: 307px;
}

.h-\[31\.01px\] {
  height: 31.01px;
}

.h-\[315px\] {
  height: 315px;
}

.h-\[350px\] {
  height: 350px;
}

.h-\[460px\] {
  height: 460px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[496px\] {
  height: 496px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[56px\] {
  height: 56px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[65px\] {
  height: 65px;
}

.h-\[80px\] {
  height: 80px;
}

.h-auto {
  height: auto;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.h-px {
  height: 1px;
}

.h-screen {
  height: 100vh;
}

.w-1 {
  width: 0.25rem;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-2 {
  width: 0.5rem;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-2\/5 {
  width: 40%;
}

.w-3 {
  width: 0.75rem;
}

.w-3\/5 {
  width: 60%;
}

.w-4 {
  width: 1rem;
}

.w-\[110px\] {
  width: 110px;
}

.w-\[16px\] {
  width: 16px;
}

.w-\[186px\] {
  width: 186px;
}

.w-\[189px\] {
  width: 189px;
}

.w-\[196px\] {
  width: 196px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[24px\] {
  width: 24px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[287px\] {
  width: 287px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[32px\] {
  width: 32px;
}

.w-\[380px\] {
  width: 380px;
}

.w-\[390px\] {
  width: 390px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[436px\] {
  width: 436px;
}

.w-\[460px\] {
  width: 460px;
}

.w-\[48px\] {
  width: 48px;
}

.w-\[49\%\] {
  width: 49%;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[64px\] {
  width: 64px;
}

.w-\[72\.64px\] {
  width: 72.64px;
}

.w-\[74\.41px\] {
  width: 74.41px;
}

.w-\[780px\] {
  width: 780px;
}

.w-\[83\.4px\] {
  width: 83.4px;
}

.w-\[89px\] {
  width: 89px;
}

.w-\[90px\] {
  width: 90px;
}

.w-auto {
  width: auto;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.min-w-\[120px\] {
  min-width: 120px;
}

.min-w-\[300px\] {
  min-width: 300px;
}

.flex-\[1_1_33\%\] {
  flex: 1 1 33%;
}

.border-collapse {
  border-collapse: collapse;
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
  resize: both;
}

.snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}

.snap-center {
  scroll-snap-align: center;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-\[16px\] {
  gap: 16px;
}

.gap-\[1px\] {
  gap: 1px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[23px\] {
  gap: 23px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[60px\] {
  gap: 60px;
}

.gap-\[8px\] {
  gap: 8px;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.justify-self-end {
  justify-self: end;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-x-\[0\.5px\] {
  border-left-width: 0.5px;
  border-right-width: 0.5px;
}

.border-y-\[1px\] {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-l-\[1px\] {
  border-left-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-\[\#EAF0ED\] {
  --tw-border-opacity: 1;
  border-color: rgb(234 240 237 / var(--tw-border-opacity, 1));
}

.border-rose-50 {
  --tw-border-opacity: 1;
  border-color: rgb(255 241 242 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.bg-\[\#3F5D45\] {
  --tw-bg-opacity: 1;
  background-color: rgb(63 93 69 / var(--tw-bg-opacity, 1));
}

.bg-\[\#EAF0ED\] {
  --tw-bg-opacity: 1;
  background-color: rgb(234 240 237 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFE180\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 225 128 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-red-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity, 1));
}

.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
}

.bg-slate-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-cake-white-suger {
  background-image: url('https://bit.ly/2Qodh3Z');
}

.bg-complete-page {
  background-image: url('https://bit.ly/2P7GhNd');
}

.bg-cream-pie {
  background-image: url('https://bit.ly/2Dwoxd7');
}

.bg-macarons-and-coffee {
  background-image: url('https://bit.ly/2R5tqwD');
}

.bg-popsicle {
  background-image: url('https://bit.ly/2OUteif');
}

.bg-pound-cake {
  background-image: url('https://bit.ly/2OhbMHr');
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-right {
  background-position: right;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-0 {
  padding: 0px;
}

.p-\[30px\] {
  padding: 30px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.px-\[42px\] {
  padding-left: 42px;
  padding-right: 42px;
}

.py-\[16px\] {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-\[19px\] {
  padding-top: 19px;
  padding-bottom: 19px;
}

.py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-\[20px\] {
  padding-right: 20px;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.font-helveticaNeue {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.font-pingfang {
  font-family: PingFang TC, Noto Sans TC, Microsoft JhengHei, sans-serif;
}

.font-times {
  font-family: Times New Roman, Times, serif;
}

.text-9xl {
  font-size: 8rem;
  line-height: 1;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[36px\] {
  font-size: 36px;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.tracking-\[8px\] {
  letter-spacing: 8px;
}

.tracking-normal {
  letter-spacing: 0em;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.tracking-tighter {
  letter-spacing: -0.05em;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.text-\[\#3F5D45\] {
  --tw-text-opacity: 1;
  color: rgb(63 93 69 / var(--tw-text-opacity, 1));
}

.text-\[\#8DA291\] {
  --tw-text-opacity: 1;
  color: rgb(141 162 145 / var(--tw-text-opacity, 1));
}

.text-\[\#EAF0ED\] {
  --tw-text-opacity: 1;
  color: rgb(234 240 237 / var(--tw-text-opacity, 1));
}

.text-\[\#FFFFFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.outline {
  outline-style: solid;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-lg {
  --tw-blur: blur(16px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-none {
  --tw-blur:  ;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-sm {
  --tw-blur: blur(4px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-lg {
  --tw-backdrop-blur: blur(16px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-500 {
  transition-duration: 500ms;
}

:root {
  --paymentstep-0 : #8DA291;
  --paymentstep-1 : #8DA291;
}

.card-writing-mode-vertical{
  writing-mode: vertical-rl;
}

.card-poem{
  writing-mode: vertical-rl;
}

.bg-img-center-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blur-card::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  opacity: 0.8;
  background-color: #3F5D45;
}

.blur-card::after{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  transform: scale(0.9);
  z-index: 10;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.card-selected{
  color: #3F5D45;
}

.card-selected::before{
  background-color: #FFE180;
}

.gray-short-bg{
  position: relative;
  z-index: 1;
}

.selecd-page{
  color: white;
  background-color: #3F5D45;
}

.gray-short-bg::before{
  position: absolute;
  content:  " ";
  bottom: 9%;
  left: 0;
  background: #EAF0ED;
  width: 100%;
  height: 82%;
  z-index: -1;
}

.card-product{
  position: relative;
}

.popup-card{
  animation: move-in-left 1s forwards, move-in-left 0.5s 2s reverse forwards;
}

.today-osusume::before{
  position: absolute;
  top: 0;
  left: 20px;
  height: 106.73px;
  width: 36px;
  z-index: 20;
  background: #3F5D45;
  color:#EAF0ED;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  content: "本日精選";
  writing-mode: vertical-lr;
}

.payment-status{
  position: relative;
  z-index: 1;
}

.payment-status::before{
  position: absolute;
  content: " ";
  border: 0.5px solid var(--paymentstep-0);
  width: 66px;
  left: 20px;
  top: 50%;
  z-index: 0;
}

.payment-status::after{
  position: absolute;
  content: " ";
  border: 0.5px solid var(--paymentstep-1);
  width: 66px;
  right: 20px;
  top: 50%;
  z-index: 0;
}

.status-dot-done{
  border-color: #EAF0ED;
  color: black;
}

.status-dot-done::before{
  position: absolute;
  content: " ";
  border-radius: 50%;
  background-color: #EAF0ED;
  width: 20px;
  height: 20px;
  z-index: -1;
  transform: scale(1);
}

.status-dot-current{
  position: relative;
}

.status-dot-current::after{
  position: absolute;
  content: " ";
  border-radius: 50%;
  background-color: #EAF0ED;
  width: 20px;
  height: 20px;
  z-index: 20;
  transform: scale(0.7);
}

.status-dot-next{
  border-color: #8DA291;
  color: #3F5D45;
  background-color: #3F5D45;
}

.select-box{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  z-index: 0;
}

.select-box::after{
  display: flex;
  justify-content: center;
  align-items: center;
  content: "⏷";
  width: 16px;
  height: 16px;
  position: absolute;
  top: calc(50% + 2px);
  right: 20px;
  z-index: 10;
}

.select-box::before{
  display: flex;
  justify-content: center;
  align-items: center;
  content: "⏶";
  width: 16px;
  height: 16px;
  top: calc(50% - 10px);
  position: absolute;
  right: 20px;
  z-index: 10;
}

.recipt-select{
  color: #3F5D45;
  background-color: #EAF0ED;
}

.complete-state{
  position: relative;
}

.complete-state::after{
  position: absolute;
  top:11px;
  left:20px;
  content: " ";
  width: 66px;
  height: 1px;
  border: 1px solid #3F5D45;
}

.complete-state::before{
  position: absolute;
  top:11px;
  right:20px;
  content: " ";
  width: 66px;
  height: 1px;
  border: 1px solid #3F5D45;
}

@media (max-width: 768px) {
  .rwd-show{
    display: block;
  }

  .md-burger-nav-ul{
    width: 80%;
    color: #EAF0ED;
    margin: 0;
    position: absolute;
    flex-direction: column;
    left: 0px;
    bottom: 100px;
    gap: 8px;
    z-index: 5;
    transform: scale(0);
    transition: all 0.5s ease;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }

  .md-burger-nav-ul-show{
    bottom:-160px;
    transform: scale(1);
  }

  .md-header-list{
    padding-left: 16px;
    background-color: #3F5D45;
    font-size: 32px;
    width: 100%;
  }

  .gray-short-bg::before{
    bottom: 0;
    background: #EAF0ED;
  }

  .card-poem{
    writing-mode: horizontal-tb;
  }
}

@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-\[\#3F5D45\]:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(63 93 69 / var(--tw-ring-opacity, 1));
}

@media not all and (min-width: 768px) {
  .max-md\:m-0 {
    margin: 0px;
  }

  .max-md\:mx-\[30px\] {
    margin-left: 30px;
    margin-right: 30px;
  }

  .max-md\:mb-\[16px\] {
    margin-bottom: 16px;
  }

  .max-md\:block {
    display: block;
  }

  .max-md\:flex {
    display: flex;
  }

  .max-md\:hidden {
    display: none;
  }

  .max-md\:h-\[135px\] {
    height: 135px;
  }

  .max-md\:h-\[17\.74px\] {
    height: 17.74px;
  }

  .max-md\:h-\[180px\] {
    height: 180px;
  }

  .max-md\:h-\[190px\] {
    height: 190px;
  }

  .max-md\:h-\[227px\] {
    height: 227px;
  }

  .max-md\:h-\[250px\] {
    height: 250px;
  }

  .max-md\:h-\[277px\] {
    height: 277px;
  }

  .max-md\:h-auto {
    height: auto;
  }

  .max-md\:w-\[157px\] {
    width: 157px;
  }

  .max-md\:w-\[226px\] {
    width: 226px;
  }

  .max-md\:w-\[318px\] {
    width: 318px;
  }

  .max-md\:w-\[60px\] {
    width: 60px;
  }

  .max-md\:w-auto {
    width: auto;
  }

  .max-md\:w-full {
    width: 100%;
  }

  .max-md\:flex-\[0_0_315px\] {
    flex: 0 0 315px;
  }

  .max-md\:flex-col {
    flex-direction: column;
  }

  .max-md\:items-start {
    align-items: flex-start;
  }

  .max-md\:items-center {
    align-items: center;
  }

  .max-md\:justify-center {
    justify-content: center;
  }

  .max-md\:justify-around {
    justify-content: space-around;
  }

  .max-md\:gap-\[30px\] {
    gap: 30px;
  }

  .max-md\:self-end {
    align-self: flex-end;
  }

  .max-md\:overflow-x-auto {
    overflow-x: auto;
  }

  .max-md\:bg-\[\#EAF0ED\] {
    --tw-bg-opacity: 1;
    background-color: rgb(234 240 237 / var(--tw-bg-opacity, 1));
  }

  .max-md\:bg-transparent {
    background-color: transparent;
  }

  .max-md\:bg-right {
    background-position: right;
  }

  .max-md\:object-contain {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .max-md\:p-0 {
    padding: 0px;
  }

  .max-md\:p-\[30px\] {
    padding: 30px;
  }

  .max-md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .max-md\:px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px;
  }

  .max-md\:py-\[30px\] {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .max-md\:text-\[20px\] {
    font-size: 20px;
  }

  .max-md\:tracking-normal {
    letter-spacing: 0em;
  }

  .max-md\:text-\[\#3F5D45\] {
    --tw-text-opacity: 1;
    color: rgb(63 93 69 / var(--tw-text-opacity, 1));
  }
}
